*{
    
    font-family:cabrin;
    margin:0;
    padding :0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;

}


.logo{
    text-decoration: none;
    color:#926233;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    
    }
    
    
    .navigation a{
        color:#926233;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 600;
        padding-left: 30px;
    
    
    }
    .navigation a:hover{
        color: #2e7173;
    }

    
.containervideo {

    background-color:#e6ddc6;
    
    
    
    }

    .row{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
         
    }
  
    
    .small-img-row{
       
        background-color: white;
        width: 24em;
        box-shadow: 0 5px 10px rgba(77, 37, 14, 0.218);
        border-radius: 5px;
        padding: 10px;
        margin: 15px;
        
    }
    
    .img-small{
        position: relative;
    
    }
    .img-small img{
        width: 100%;
        height: 200px;
    }
    .play img{
        height: 60px;
        
    }
    .small-img-row p{
        margin-left: 10px;
        color: #070707;
        line-height: 20px;
        font-size: 15px;
    
    }
    
    .img-small .play-btn{
        width: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
        size: 5px;
    }
    .video-player{
        width: 80%;
        position: fixed;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        display: none;
    }
    
    .close-btn {
        position: absolute;
        top: 50px;
        right: 10px;
        width: 30px;
        cursor: pointer;
    
    }

    .desc{
        align-items: center;
        padding: 40px 20%;
        font-size: 25px;
        color:#57391b;
    }


     
.cards-contact{
    background-color: white;
}
.content{

  display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
  

}
section{
padding: 50px 50px;
}
.contact-card{
background-color: #f1ecdf;
width: 20.25em;
box-shadow: 0 5px 25px rgba(1 1 1/15%);
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 0.7s ease;
padding-top: 30px;

}

.contact-card:hover{
transform: scale(1.1);
}
.icon{
font-size: 4.5em;
color:#926233;
text-align: center;

}
.info{
  color: #774D24;
  text-align: center;


}
.contact-card .info p{
  font-size: 1.2em;
}

.title {
    display: flex;
    justify-content: center;
    color: #774D24;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 9px;
    padding: 60px;

}